.board-column {
    border: 1px solid darksalmon;
    padding: 30px;
    float: left;
    margin: 5px;
}

.board-column-header {
    font-weight: bold;
}

.board-column-list {
    min-height: 300px;
    width: 150px;
}

.board-card {
    padding: 10px;
    border:1px solid gray;
    margin: 10px;
}

.board-form {
    width: 200px;
    margin: 10px;
    border: 1px dashed gray;
    padding: 10px;
}

.board-new-card {
    border: 1px dashed gray;
    padding: 10px;
}