.board-column {
    border: 1px solid red;
    padding: 30px;
    float: left;
}

.board-column-header {
    font-weight: bold;
}

.board-column-list {
    min-height: 300px;
    width: 150px;
}

.board-card {
    padding: 10px;
    border:1px solid gray;
    margin: 10px;
}